.anuncio-banner {
    width: 100%;
    background: #ffcc00;
    overflow: hidden;
    position: fixed; /* siempre arriba */
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 9999;
    border-bottom: 2px solid #000;
}

.anuncio-texto {
    display: inline-block;
    padding-left: 100%;
    font-size: 18px;
    font-weight: bold;
    animation: mover 12s linear infinite;
}

@keyframes mover {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}